﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Hatteland Piwik Analytics Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href='/stylesheets/jquery-ui.css' />
    <link rel="stylesheet" href='/stylesheets/style.css' />

    <!-- Morris Charts CSS -->
    <link href="/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!--<script src="/dist/js/sb-admin-2.js"></script>-->

    <!-- jquery -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>

    <!-- Javascripts -->
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.js"></script>
    <script type="text/javascript" src="controllers/controller.js"></script>

    
    <!--<script src="http://cdn.zingchart.com/zingchart.min.js"></script>-->
    <script type="text/javascript" src="js/zingchart.min.js"></script>

</head>
<body>

    <div id="wrapper" ng-controller="AppCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{title}}</a>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-12">


                <!-- start of tabbed page -->

                <ul class="nav nav-tabs">
                    <li class="active">
                        

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-file fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="tab-title">Website Information</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#home">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                            
                        


                    </li>
                    <li>
                        
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bar-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="tab-title">Visualize Events Distribution</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu1">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>


                    </li>
                    <li>
                        
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tablet fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="tab-title">Realtime Predictions</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu2">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>

                    </li>
                    <li>
                        


                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="tab-title">Generate Batch File</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu3">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>


                    </li>

                    <li>
                        


                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="tab-title">Visualize Clusters</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu4">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>


                    </li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      
                        <!-- start of my custom panel -->

                        <div class="panel panel-default" style="margin-top: 20px">
                            <div class="panel-heading">
                                <i class="fa fa-file fa-fw"></i>
                                View Website Information
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <table class="form-table">
                                            <tr>
                                                <td valign="top" style="padding-top: 12px">
                                                    <label>Select website id</label>
                                                </td>
                                                <td valign="top" style="padding-top: 12px">
                                                    <!--<select class="form-control" id="website-id-combo">
                                                        <option ng-repeat="website in websites">{{website.idsite}}</option>
                                                    </select>-->
                                                    <select class="form-control" id="website-id-combo-two" ng-model="website" ng-options="website as website.idsite for website in list" ng-change="changeWebsiteInfo(website.idsite)">
                                                        <option value="" ng-if="false"></option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <table ng-if="website.idsite >= 1">
                                                        <tr>
                                                            <td><label>Website name</label></td>
                                                            <td><text ng-if="website.name == ''">-</text><text>{{website.name}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Main url</label></td>
                                                            <td><text ng-if="website.main_url == ''">-</text><text>{{website.main_url}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Date & Time created</label></td>
                                                            <td><text ng-if="website.ts_created == ''">-</text><text>{{website.ts_created}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Timezone</label></td>
                                                            <td><text ng-if="website.timezone == ''">-</text><text>{{website.timezone}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Currency</label></td>
                                                            <td><text ng-if="website.currency == ''">-</text><text>{{website.currency}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="alert alert-success" style="margin-bottom: 0" ng-if="website.sitesearch == 1">Site search enabled</div>
                                                                <div class="alert alert-danger" style="margin-bottom: 0" ng-if="website.sitesearch == 0">Site search disabled</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="alert alert-success" style="margin-bottom: 0" ng-if="website.ecommerce == 1">Ecommerce analytics enabled</div>
                                                                <div class="alert alert-danger" style="margin-bottom: 0" ng-if="website.ecommerce == 0">Ecommerce analytics disabled</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="alert alert-success" style="margin-bottom: 0" ng-if="website.exclude_unknown_urls == 1">Unknown urls are excluded</div>
                                                                <div class="alert alert-danger" style="margin-bottom: 0" ng-if="website.exclude_unknown_urls == 0">Unknown urls are not excluded</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="alert alert-success" style="margin-bottom: 0" ng-if="website.keep_url_fragment == 1">Url fragments are kept</div>
                                                                <div class="alert alert-danger" style="margin-bottom: 0" ng-if="website.keep_url_fragment == 0">Url fragments are not kept</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Group</label></td>
                                                            <td><text ng-if="website.group == ''">-</text><text>{{website.group}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Type</label></td>
                                                            <td><text ng-if="website.type == ''">-</text><text>{{website.type}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Site search keyword parameters</label></td>
                                                            <td><text ng-if="website.sitesearch_keyword_parameters == ''">-</text><text>{{website.sitesearch_keyword_parameters}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Site search category parameters</label></td>
                                                            <td><text ng-if="website.sitesearch_category_parameters == ''">-</text><text>{{website.sitesearch_category_parameters}}</text></td>
                                                        </tr>

                                                        <tr>
                                                            <td><label>Excluded ips</label></td>
                                                            <td><text ng-if="website.excluded_ips == ''">-</text><text>{{website.excluded_ips}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Excluded parameters</label></td>
                                                            <td><text ng-if="website.excluded_parameters == ''">-</text><text>{{website.excluded_parameters}}</text></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Excluded user agents</label></td>
                                                            <td><text ng-if="website.excluded_user_agents == ''">-</text><text>{{website.excluded_user_agents}}</text></td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- end of my custom panel -->



                    </div>
                    <div id="menu1" class="tab-pane fade">
                      

                        <!-- start of my custom panel -->

                        <div class="panel panel-default" style="margin-top: 20px">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>
                                Visualize user behavior
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <table class="form-table">
                                            
                                            <tr ng-if="website.idsite >= 1">
                                                <td style="vertical-align: top">
                                                    <label>Select user id</label>
                                                </td>
                                                <td style="vertical-align: top">
                                                    <select class="form-control" ng-model="userId" ng-options="userId as userId for userId in userIds" ng-change="changeUserId(userId)">
                                                        <!--<option value="" ng-if="false"></option>-->
                                                    </select>
                                                    <div ng-if="startLoading=='pending'">
                                                        <img id="loadingImg" src="/images/loading_spinner.gif" style="height: 30px; width: 30px"> Still loading...
                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="panel panel-default black-panels" ng-show="userId != null">
                                                        <div class="panel-body">
                                                            <div class="panel panel-default" ng-show="userId != null">
                                                                <div class="panel-heading"><b>Plot event categories</b></div>
                                                                <div class="panel-body">
                                                                    <table>
                                                                        <tr>
                                                                            <td><label>Select period</label></td>
                                                                            <td>
                                                                                <select class="form-control" ng-model="period" ng-change="changeComboBoxPeriod('events', period)">
                                                                                    <option value="" ng-if="false"></option>
                                                                                    <option value="day">day</option>
                                                                                    <option value="week">week</option>
                                                                                    <option value="month" selected="selected">month</option>
                                                                                    <option value="year">year</option>
                                                                                    <option value="range">range</option>
                                                                                </select>
                                                                            </td>
                                                                            <td ng-show="period !='range'"><label>Select date</label></td>
                                                                            <td ng-show="period !='range'">
                                                                                <input id="date" class="form-control" type="text" size="8" ng-model="date" ng-change="changeCalendarDate('events', date)" />
                                                                                <script type="text/javascript">
                                                                                    $(function () {
                                                                                        $('#date').datepicker({
                                                                                            dateFormat: 'yy-mm-dd'
                                                                                        }).datepicker("setDate", "0");
                                                                                        //$('#date').datepicker("setDate", new Date());
                                                                                    });
                                                                                </script>
                                                                            </td>
                                                                            <td ng-show="period !='range'"><button type="button" class="btn btn-primary" ng-click="changePeriod('events')">Plot</button></td>
                                                                        </tr>
                                                                        <tr ng-show="period =='range'">
                                                                            <td><label><input type="radio" name="opt" checked="checked" ng-click="rangeClick('events', 'range')"> Select range<br></label></td>
                                                                            <td style="text-align: right"><label>From</label></td>
                                                                            <td>
                                                                                <input id="dateFrom" class="form-control" type="text" size="8" ng-model="dateFrom" ng-change="changeCalendarDateFrom('events', dateFrom)" />
                                                                                <script type="text/javascript">
                                                                                    $(function () {
                                                                                        $('#dateFrom').datepicker({
                                                                                            dateFormat: 'yy-mm-dd'
                                                                                        }).datepicker("setDate", "0");
                                                                                        //$('#date').datepicker("setDate", new Date());
                                                                                    });
                                                                                </script>
                                                                            </td>
                                                                            <td style="text-align: right"><label>To</label></td>
                                                                            <td>
                                                                                <input id="dateTo" class="form-control" type="text" size="8" ng-model="dateTo" ng-change="changeCalendarDateTo('events', dateTo)" />
                                                                                <script type="text/javascript">
                                                                                    $(function () {
                                                                                        $('#dateTo').datepicker({
                                                                                            dateFormat: 'yy-mm-dd'
                                                                                        }).datepicker("setDate", "0");
                                                                                        //$('#date').datepicker("setDate", new Date());
                                                                                    });
                                                                                </script>
                                                                            </td>
                                                                        </tr>
                                                                        <tr ng-show="period =='range'">
                                                                            <td><label><input type="radio" name="opt" ng-click="prevClick('events', 'previous')"> Prev<br></label></td>
                                                                            <td><input id="prevText" class="form-control" disabled type="text" size="8" ng-model="prevAmount"/></td>
                                                                            <td>(Excluding current)</td>
                                                                        </tr>
                                                                        <tr ng-show="period =='range'">
                                                                            <td><label><input type="radio" name="opt" ng-click="lastClick('events', 'last')"> Last<br></label></td>
                                                                            <td><input id="lastText" class="form-control" disabled type="text" size="8" ng-model="lastAmount" /></td>
                                                                            <td>(Including current)</td>
                                                                            <td colspan="2" style="text-align: right"><button type="button" class="btn btn-primary" ng-click="changePeriod('events')">Plot</button></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <table style="width: 100%">
                                                                <tr>
                                                                    <td>
                                                                        <div id='chartDiv' ng-show="userId != null" style="width: 640px"></div>
                                                                    </td>
                                                                    <td>
                                                                        <div id='treeChartDiv' ng-show="userId != null" style="width: 640px"></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            

                                                            <div class="panel panel-default" ng-show="userId != null">
                                                                <div class="panel-heading"><b>Plot event categories in a timeline</b></div>
                                                                <div class="panel-body">
                                                                    <table>
                                                                        <tr>
                                                                            <td><label>Select period</label></td>
                                                                            <td>
                                                                                <select class="form-control" ng-model="blockPeriod" ng-change="blockPeriodChange(blockPeriod)">
                                                                                    <option value="" ng-if="false"></option>
                                                                                    <option value="day">day</option>
                                                                                    <option value="week">week</option>
                                                                                    <option value="month">month</option>
                                                                                    <option value="year">year</option>
                                                                                </select>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><label>Graph</label></td>
                                                                            <td>
                                                                                <select class="form-control" ng-model="blockGraph" ng-change="blockGraphChange(blockGraph)">
                                                                                    <option value="" ng-if="false"></option>
                                                                                    <option value="visits">visits</option>
                                                                                    <option value="events" selected="selected">events</option>
                                                                                    <option value="eventValues">events with value</option>
                                                                                    <option value="sum">sum event value</option>
                                                                                    <option value="avg">avg event value</option>
                                                                                </select>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><label><input type="radio" name="optBlock" ng-click="blockPrevClick('previous')"> Prev<br></label></td>
                                                                            <td><input id="prevBlockText" ng-model="prevBlockAmount" disabled class="form-control" type="text" size="8" /></td>
                                                                            <td>(Excluding current)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><label><input type="radio" name="optBlock" checked="checked" ng-click="blockLastClick('last')"> Last<br></label></td>
                                                                            <td><input id="lastBlockText" ng-model="lastBlockAmount"  class="form-control" type="text" size="8" /></td>
                                                                            <td>(Including current)</td>
                                                                            <td colspan="3" style="text-align: right"><button type="button" class="btn btn-primary" ng-click="changeTimelinePeriod()">Plot</button></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id='chartEventBlocksDiv' ng-show="userId != null" style="width: 640px"></div>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="panel panel-default black-panels" ng-show="userId != null">
                                                        <div class="panel-body">
                                                            <!-- start of event action pane -->

                                                            
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <div class="panel panel-default" ng-show="userId != null">
                                                                            <div class="panel-heading"><b>Plot event actions</b></div>
                                                                            <div class="panel-body">
                                                                                <table>
                                                                                    <tr>
                                                                                        <td><label>Select period</label></td>
                                                                                        <td>
                                                                                            <select class="form-control" ng-model="eventActionPeriod" ng-change="changeComboBoxPeriod('eventActions', eventActionPeriod)">
                                                                                                <option value="" ng-if="false"></option>
                                                                                                <option value="day">day</option>
                                                                                                <option value="week">week</option>
                                                                                                <option value="month" selected="selected">month</option>
                                                                                                <option value="year">year</option>
                                                                                                <option value="range">range</option>
                                                                                            </select>
                                                                                        </td>
                                                                                        <td ng-show="eventActionPeriod !='range'"><label>Select date</label></td>
                                                                                        <td ng-show="eventActionPeriod !='range'">
                                                                                            <input id="eventActionDate" class="form-control" type="text" size="8" ng-model="eventActionDate" ng-change="changeCalendarDate('eventActions', eventActionDate)" />
                                                                                            <script type="text/javascript">
                                                                                                $(function () {
                                                                                                    $('#eventActionDate').datepicker({
                                                                                                        dateFormat: 'yy-mm-dd'
                                                                                                    });
                                                                                                });
                                                                                            </script>
                                                                                        </td>
                                                                                        <td ng-show="eventActionPeriod !='range'" colspan="3" style="text-align: right"><button type="button" class="btn btn-primary" ng-click="LoadAndPlotEventActions()">Plot</button></td>
                                                                                    </tr>
                                                                                    
                                                                                    <tr ng-show="eventActionPeriod =='range'">
                                                                                        <td><label><input type="radio" name="eventActionOpt" checked="checked" ng-click="rangeClick('eventActions', 'range')"> Select range<br></label></td>
                                                                                        <td style="text-align: right"><label>From</label></td>
                                                                                        <td>
                                                                                            <input id="eventActionDateFrom" class="form-control" type="text" size="8" ng-model="eventActionDateFrom" ng-change="changeCalendarDateFrom('eventActions', eventActionDateFrom)" />
                                                                                            <script type="text/javascript">
                                                                                                $(function () {
                                                                                                    $('#eventActionDateFrom').datepicker({
                                                                                                        dateFormat: 'yy-mm-dd'
                                                                                                    }).datepicker("setDate", "0");
                                                                                                    //$('#date').datepicker("setDate", new Date());
                                                                                                });
                                                                                            </script>
                                                                                        </td>
                                                                                        <td style="text-align: right"><label>To</label></td>
                                                                                        <td>
                                                                                            <input id="eventActionDateTo" class="form-control" type="text" size="8" ng-model="eventActionDateTo" ng-change="changeCalendarDateTo('eventActions', dateTo)" />
                                                                                            <script type="text/javascript">
                                                                                                $(function () {
                                                                                                    $('#eventActionDateTo').datepicker({
                                                                                                        dateFormat: 'yy-mm-dd'
                                                                                                    }).datepicker("setDate", "0");
                                                                                                    //$('#date').datepicker("setDate", new Date());
                                                                                                });
                                                                                            </script>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr ng-show="eventActionPeriod =='range'">
                                                                                        <td><label><input type="radio" name="eventActionOpt" ng-click="prevClick('eventActions', 'previous')"> Prev<br></label></td>
                                                                                        <td><input id="eventActionPrevText" class="form-control" disabled type="text" size="8" ng-model="eventActionPrevAmount"/></td>
                                                                                        <td>(Excluding current)</td>
                                                                                    </tr>
                                                                                    <tr ng-show="eventActionPeriod =='range'">
                                                                                        <td><label><input type="radio" name="eventActionOpt" ng-click="lastClick('eventActions', 'last')"> Last<br></label></td>
                                                                                        <td><input id="eventActionLastText" class="form-control" disabled type="text" size="8" ng-model="eventActionLastAmount" /></td>
                                                                                        <td>(Including current)</td>
                                                                                        <td colspan="2" style="text-align: right"><button type="button" class="btn btn-primary" ng-click="LoadAndPlotEventActions()">Plot</button></td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <table>
                                                                                            <tr>
                                                                                                <td><label>Event category</label></td>
                                                                                                <td>
                                                                                                    <div ng-bind-html="customHtml"></div>
                                                                                                </td>
                                                                                                <td colspan="2" style="text-align: right"><button id="changeCategoryBtn" type="button" class="btn btn-primary" ng-click="changePeriod('eventActions')">Change category</button></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                    <div id='chartEventActionsDiv' ng-show="userId != null"></div>
                                                                                </td>
                                                                                <td><div id='treemapEventActionsDiv' ng-show="userId != null"></div></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                            <!-- end of event action pane -->
                                                        </div>
                                                    </div>

                                                    


                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- end of my custom panel -->

                    </div>

                    <div id="menu2" class="tab-pane fade">
                        <div id="menu2-body" ng-if="website.idsite >= 1">


                            <div class="panel panel-default" style="margin-top: 20px">
                                <div class="panel-heading">
                                    <h4 style="margin-top: 5px; margin-bottom: 5px">
                                        Default feature layout for website
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <table id="layoutTable">
                                        <tr>
                                            <td>
                                                <div id="imgDiv" style="width: 100%">
                                                    <img ng-src="{{defaultLayoutSrc}}">
                                                </div>
                                            </td>
                                            <td valign="top" style="padding-left: 20px">
                                                <h4 style="margin-top:0">Features list</h4>
                                                <ul class="list-group">
                                                    <li ng-repeat="event in globalEvents" class="list-group-item">{{event}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>        
                                </div>
                            </div>

                            
                            <div class="panel panel-default" style="margin-top: 20px">
                                <div class="panel-heading">
                                    <h4 style="margin-top: 5px; margin-bottom: 5px">
                                        Get realtime predictions for users
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <select class="form-control" ng-model="queryUserId" ng-options="queryUserId as queryUserId for queryUserId in userIds" ng-change="getData(queryUserId)"></select>
                                            </td>
                                            <td ng-if="selectedUser==true">
                                                <div id="queryUserChartDiv"></div>
                                            </td>
                                            <td ng-if="selectedUser==true">
                                                <div id="queryUserTreeChartDiv"></div>
                                            </td>
                                        </tr>
                                        <tr ng-if="selectedUser==true">
                                            <td colspan="3">
                                                <h5><b>  Data generated to get user profile</b></h5>
                                                <div id="data-pane" ng-bind="dataToBeSent" style="width: 100%;" class="col-12">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div ng-if="generateProfile==true">
                                                    <!-- <div>
                                                        <button id="btnid2" class="btn btn-primary" ng-click="getDataToScreen()">Generate User Profile</button>
                                                    </div> -->
                                                    <div class="alert" ng-if="resultsAvailable=='no'" style="margin-top: 20px;">
                                                        <img src="/images/loading_spinner.gif" style="height: 30px; width: 30px">  
                                                        User profile is still loading. Wait few seconds...
                                                    </div>
                                                    <!-- <div class="alert alert-success" ng-if="resultsAvailable=='pending'" style="margin-top: 20px;">
                                                      <strong>Status!</strong> Results are pending. Wait a second and try again!
                                                    </div> -->
                                                    <div id="resultsDisplay" ng-if="resultsAvailable=='yes'">
                                                        <h5><b>  Results generated from Machine Learning Engine</b></h5>
                                                        <div id="result-pane" ng-bind="result"></div>
                                                        <table id="resultImages" class="table">
                                                            <tr>
                                                                <td>
                                                                    <h4 ng-bind="profileName"></h4>
                                                                </td>
                                                                <td>
                                                                    <h4>Customized feature layout of the website</h4>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img id="profileImage" ng-src="{{profileSrc}}">
                                                                </td>
                                                                <td>
                                                                    <img id="customizedLayout" ng-src="{{customizedLayoutSrc}}">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>  
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div id="menu3" class="tab-pane fade">
                        <div id="batch-file-pane" ng-if="website.idsite >= 1">
                            <h3>Generate batch file to train the data model</h3>
                            <p>Clicking the button below will generate a csv file containing the usage data of all the users from the date of creation until today</p>
                            <button id="generate_file" class="btn btn-primary" ng-click="generateDataFile()">Generate File</button>

                            

                            <div class="alert alert-info" ng-if="generate==false" style="margin-top: 20px;">
                                User Ids are still loading. Please wait few seconds and try again!
                            </div>

                            <div class="alert" ng-if="visiblePaneProgress=='pending'" style="margin-top: 20px;">
                                <img src="/images/loading_spinner.gif" style="height: 30px; width: 30px">
                                  Results are pending. Wait few seconds...
                            </div>

                            <div id="batch-data-pane" ng-bind="batchData" style="width: 100%;" ng-if="visiblePane == true"></div>
                            <a href="/Files/GetBatch/{{website.idsite}}" ng-if="visiblePane == true"><button class="btn btn-success">Download</button></a>

                            <hr>

                            <table>
                                <tr>
                                    <td valign="top">
                                        <button id="simulateEndpoint" class="btn btn-primary" ng-click="simulateEndpoint()">Simulate end point</button>
                                    </td>
                                    <td>
                                        <div ng-if="simulate=='pending'" style="padding-left: 20px; padding-bottom: 30px">
                                            <img src="/images/loading_spinner.gif" style="height: 30px; width: 30px">
                                              Simulating get request to url http://adaptibeui.tk:1338/getProfile/1/User50<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will give an alert giving the profile number of User50
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>


                    <div id="menu4" class="tab-pane fade" ng-controller="ClusterCtrl" >

                        <div id="menu4-body" ng-if="website.idsite >= 1">
                            <h3>Visualize clusters using KMeans algorithm</h3>

                            <button class="btn btn-primary" ng-click="clusterData('1')" style="margin-top: 20px">Generate clusters</button>
                            <div id='myChart'></div>
                            <br>

                            <div class="row">
                            <div class="col col-lg-6" id='cluster1'></div>
                            <div class="col col-lg-6" id='cluster2'></div>
                            </div>

                            <div class="row">
                            <div class="col col-lg-6" id='cluster3'></div>
                            <div class="col col-lg-6" id='cluster4'></div>
                            </div>
                            <br>
                        </div>

                    </div>

                </div>

                <!-- end og tabbed pane -->
                    

                </div>
                <!-- /.col-lg-8 -->
                <!-- right aside -->
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    

</body>
</html>